{% extends "froide_payment/payment/stripe_base.html" %}

{% load i18n %}

{% block payment_method %}
  <div id="payment-request" style="display: none">
    <div id="payment-request-button">
        <!-- A Stripe Element will be inserted here. -->
    </div>
    <p class="mt-5 mb-5 text-center">
      <strong>
        {% trans "Or enter your credit card details below" %}
      </strong>
    </p>
  </div>
  <div class="form-group">
    <label for="card-element">
      {% trans "Please enter your credit card details" %}
    </label>
    <div id="card-element">
      <!-- A Stripe Element will be inserted here. -->
    </div>
  </div>
  <!-- Used to display Element errors. -->
  <div id="card-errors" role="alert"></div>
  <p class="text-right">
    <button class="btn btn-success btn-lg">
      {% if order.is_donation %}
        &rarr;&nbsp;{% trans "Donate now" %}
      {% else %}
        &rarr;&nbsp;{% trans "Pay now" %}
      {% endif %}
    </button>
  </p>
  {{ block.super }}
{% endblock %}
