{% extends "froide_payment/payment/stripe_base.html" %}

{% load i18n %}

{% block payment_method %}
  <label for="iban-element">
    {% trans "Please enter your IBAN" %}
  </label>
  <div id="iban-element">
    <!-- A Stripe Element will be inserted here. -->
  </div>
  <div id="bank-name"></div>
  <!-- Used to display form errors. -->
  <div id="error-message" role="alert"></div>
  <p class="text-right">
    <button class="btn btn-success btn-lg" id="sepa-submit">
      {% if order.is_donation %}
        &rarr;&nbsp;{% trans "Donate now" %}
      {% else %}
        &rarr;&nbsp;{% trans "Pay now" %}
      {% endif %}
    </button>
  </p>
  <!-- Display mandate acceptance text. -->
  <small id="mandate-acceptance">
    {% blocktrans %}By providing your IBAN and confirming this payment, you are authorizing Open Knowledge Foundation Deutschland e.V. and Stripe, our payment service provider, to send instructions to your bank to debit your account and your bank to debit your account in accordance with those instructions.
    You are entitled to a refund from your bank under the terms and conditions of your agreement with your bank. A refund must be claimed within 8 weeks starting from the date on which your account was debited.{% endblocktrans %}
  </small>
  {{ block.super }}
{% endblock %}
