{% extends "froide_payment/payment/stripe_base.html" %}

{% block form_attrs %}{{ block.super }}{% block novalidate %}{% endblock %}{% endblock %}

{% block payment_method %}

{% include "bootstrap_field.html" with field=form.owner_name %}
{% include "bootstrap_field.html" with field=form.iban %}

<div id="card-errors" class="alert alert-danger" style="display: none" role="alert"></div>

<div>
  <p class="text-muted small">
    {{ form.SEPA_MANDATE }}
  </p>
</div>

<div class="text-end">
  <button id="donate-now" type="submit" class="btn btn-success btn-lg">
    Jetzt spenden
  </button>
</div>

{{ block.super }}
{% endblock %}
