{% extends "froide_payment/payment/stripe_base.html" %}

{% block form_attrs %}{{ block.super }}{% block novalidate %}{% endblock %}{% endblock %}

{% block payment_method %}

{% include "bootstrap_field.html" with field=form.owner_name %}
{% include "bootstrap_field.html" with field=form.iban %}

<div id="card-errors" class="alert alert-danger" style="display: none" role="alert"></div>

<div>
  <p class="text-muted">
    Ich ermächtige (A) Open Knowledge Foundation Deutschland e.V. und Stripe, Zahlungen von meinem Konto mittels Lastschrift einzuziehen. Zugleich (B) weise ich mein Kreditinstitut an, die von Open Knowledge Foundation auf mein Konto gezogenen Lastschriften einzulösen. Hinweis: Ich kann innerhalb von acht Wochen, beginnend mit dem Belastungsdatum, die Erstattung des belasteten Betrages verlangen. Es gelten dabei die mit meinem Kreditinstitut vereinbarten Bedingungen.
  </p>
</div>

<div class="text-right">
  <button id="donate-now" type="submit" class="btn btn-success btn-lg">
    Jetzt spenden
  </button>
</div>

{{ block.super }}
{% endblock %}